@charset "ISO-8859-1";

.header {
	text-align: center;
	margin: 0;
	padding: 50px;
	background-color: lightpink;
	font-size: 30px;
}

body {
	margin: 10px;
  	font-family: Georgia;
  	background-color: whitesmoke;
}

h1 {
	margin: 0;
	color: black; 
}

h2 {
	color: black;
	text-align: center;
}

h3 {
	color: black;
	font-weight: italic;
}

h5 {
	color: black; 
}

th {
	color: black;
}

table { 
	
	font-family: Georgia;
	color: dimgray;
	margin:30px; 

}

input[type = button] {

	 font-weight: bold;
	 padding: 10px 110px;
	 color: dimgray; 
	
}

textarea {
	margin-bottom: 100px; 
}

.listfunctions {
	border-left: 5px solid lightpink;
	background-color: lavenderblush;
	padding: 10px 20px;
	list-style-type: circle;
}

li {
	color: dimgray;
	margin: 25px; 
	font-weight:bold;
}

a{
	color: dimgray; 
}

a:hover {
	color: black;
}

.teachersinfo {
	border-left: 5px solid lightpink;
	background-color: honeydew;
	padding: 10px 20px;
	position: relative;
}

input[type = submit] {
	 padding: 14px 20px;
	 color: white; 
	 float: center;
	 font-family: Georgia;
	 border-radius: 25px;
  	 position:absolute; 
  	 bottom: 70pt;
  	 left: 370pt;
}

button {
  background-color: #8080ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  display: block;
}

.classrooms {
	display: block;
	width: 100px;
	height: 25px;
	background-color: #8080ff;
    padding: 8px;
    text-align: center;
    color: white;
    line-height: 25px;
    margin: 5px;
    text-decoration: none;
}

.logoutbtn {
	display: block;
    width: 100px;
    height: 25px;
    background-color: orange;
    padding: 8px;
    text-align: center;
    color: white;
    line-height: 25px;
    margin: 5px;
    text-decoration: none;
}

.submitbtn {
  background-color: #8080ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

form {
padding: 14px 20px;
margin: 8px 0;
}

.courselist {
	overflow: hidden;
	background-color: #333;
}

.courselist a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.courselist a:hover {
	background-color: #ddd;
	color: black;
}

